/* temples-large.css */

header {
    padding: 20px 40px;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.temple-images {
    grid-gap: 30px;
}